@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

[x-cloak] {
  display: none !important;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #07150F;
}

img {
  display: block;
  max-width: 100%;
}